.header {
  background: var(--gray-700);
  padding: 6.25rem 0;
  display: flex;
  justify-content: center;
}
.header .headerContent {
  display: flex;
  max-width: 46rem;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
}
.header .headerContent .infoContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header .headerContent img {
  height: 3rem;
}
