.header {
  background: var(--gray-700);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.header .headerBadge {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-top: 1rem;
}
.header .headerBadge a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}
.header .headerBadge a:hover {
  color: var(--gray-200);
}
.header .headerContent {
  padding: 6.25rem 0;

  display: flex;
  max-width: 80rem;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
}

.header .headerContent .headerMenu {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/* Mobile styles */
.container {
  width: 100%;
}

.header .headerContent .headerMenu li:first-child {
  padding: 0px 10px;
}
.header .headerContent .headerMenu li a {
  text-decoration: none;
  display: flex;
  font-size: 14px;
  color: var(--gray-100);
  flex-direction: column;
}
.header .headerContent .headerMenu li a span {
  margin-bottom: 0.5rem;
}
.header .headerContent .headerMenu li a small {
  font-size: 8px;
  color: var(--gray-200);
  padding: 0px;
  margin: 0px;
}

.header .headerContent .headerMenu li a:hover {
  color: var(--gray-50);
}

.header .headerContent .infoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header .headerContent .infoContainer a {
  text-decoration: none;
}
.header .headerContent img {
  height: 3rem;
}

@media (max-width: 768px) {
  .header .headerBadge {
    justify-content: center;
  }
  .header .headerBadge a {
    width: 100%;
    padding: 10px;
    background-color: var(--gray-600);
    font-size: 0.9rem;
  }
  .header .headerContent .headerMenu {
    flex-direction: column;

    gap: 0rem;
    padding: 0px;
  }

  .header .headerContent {
    padding: 20px 20px 60px 20px;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .headerContent .headerMenu li:first-child {
    margin-bottom: 5px;
    padding: 0px;
  }
  .header .headerContent .headerMenu li:not(:first-child) {
    border-bottom: 1px solid var(--gray-400);

    padding: 5px 0px;
    margin: 0px;
    width: 100%;
  }
}
