.header {
  background: var(--gray-700);
  padding: 6.25rem 0;
  display: flex;
  justify-content: center;
}
.header .headerContent {
  display: flex;
  max-width: 46rem;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
}

.header .headerContent .headerMenu{

  list-style-type: none ;
  display: flex;
  gap: 1rem;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.header .headerContent .headerMenu li:first-child{

  padding: 0px 10px;
}
.header .headerContent .headerMenu li a{
  color: var(--gray-100);
  text-decoration: none;
  font-size: 12px;
}
.header .headerContent .headerMenu li a:hover{
  color: var(--gray-50);
}

.header .headerContent .infoContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header .headerContent img {
  height: 3rem;
}
