.todoHeader .blue {
  color: var(--blue);
}
.todoHeader .purple {
  color: var(--purple);
}

.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.todoHeader > h5 {
  font-weight: 700;
  font-size: 14px;

  color: var(--blue);
}
.todoHeader > span {
  border-radius: 999px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-weight: 700;
  font-size: 12px;
  padding: 0.125rem 0.5rem;
}
.todoHeader > h5.done {
  color: var(--purple);
}
