:root {
  --white: #fff;

  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-650: #1e1e1e;
  --gray-700: #0d0d0d;
  --purple: #8284fa;
  --purple-dark: #5e60ce;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --danger: #e25858;
  --danger-dark: #7A1921;
  --yellow-500: #FBA94C;
  --green-500 : #00875F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-650);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}
body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
